{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Instructions'|trans}}{% endblock %}

{% block pageclass%}instruction-page{% endblock%}

{% block searchbar %}{% endblock %}

{% block primarybody %}

<h1>{{CustomContent.Title}}</h1>

<div id="instructions">
    {{CustomContent.Content|raw}}
</div>

<div id="proceed_button">
    <a href="{{path('search_results', {term:term} )}}" class="btn btn-primary">Proceed</a>
</div>

{% endblock %}
