{% extends 'default/default_shell.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

      
      <div  class="myform">
      
          <div class="wbody">
            <p>A confirmation email has been sent to your email address. Please verify your email address by clicking the link within the verification email to continue.
          </div>      
      </div>
      
      <div id="link-box" class="centerd">
        <a href="{{path('login')}}">Log in</a>
      </div>

{% endblock %}

