@import 'variables';

.root-form {
    position: fixed;
    top: 40%;
    left: 32%;
    width: 100%;

	#user {
		width: 20%;
	}

    input[type="submit"] {
        width: 10%;
    }
}

.instruction-page {

}
