{% extends 'modal/modal_shell.html.twig' %}

{% block title %}Delete Cart Item{% endblock %}

{% block body %}
    <img src="/dist/img/trash_blue.png" class="center-block">

    <p> Are you sure you want to delete this photo from your order?</p>

    <div class="controls">
        <img src="/dist/img/modal_cancel.png" id="cancel" class="animation-button">
        <img src="/dist/img/modal_ok.png" id="ok" class="animation-button" data-deleteurl="{{path('media_delete_cart_item', {id:id, slot:slot})}}" data-redirecturl="{% if mode == 1 %}{{path('media_cart_view')}}{% else %}{{path('media_cart_checkout')}}{% endif %}">
    </div>
{% endblock %}

{% block viewscripts %}
{% endblock %}

