{% extends 'base.html.twig' %}

{% block htmlhead %}{% endblock %}

{% block templatestyles %}
    {% block individualstyles %}
        <link href="/dist/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="/css/normalize.css" rel="stylesheet"></link>
		<link href="/css/font-awesome.css" rel="stylesheet"></link>
        <link href="/dist/css/modal.css" rel="stylesheet"></link>
    {% endblock %}
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}


{% block mainbody %}
        {% block primarybody %}            
            <div class="modal-body">
                {% block body %}

                {% endblock %}
            </div>
        {% endblock %}
{% endblock %}

{% block basefooter %}{% endblock %}

{% block templatescripts %}
    {% block viewscripts %}
    {% endblock %}
{% endblock %}
