{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}
{% block heading %}Generate Report{% endblock %}
{% block reportclass %}active{% endblock %}

{% block javascripts %}
{% endblock %}

{% block adminbody %}

    <form method="post" action="{{path('admin_report_view')}}">
        <div class="form-group">
            <input type="date" id="from" name="from" />
            To:
            <input type="date" id="to" name="to" />
        </div>

        <div class="form-group">
            Y <select id="y" name="y">
                <option value="frequency">Frequency</option>
                <option value="duration">Duration</option>
                <option value="avgduration">Average Duration</option>
                <option value="avgfrequency">Average Frequency</option>
            </select>

            Vs.

            X <select id="x" name="x">
                <option value="a.created">Date</option>
                <option value="a.event_type">Event</option>        
                <option value="a.category">Category</option>
                <option value="a.label">Label</option>
            </select>
        </div>

        <div class="form-group">
            <select name="dimension[]" id="dimension_0">
                <option></option>
                <option value="u.externalId">User external id</option>
                <option value="u.ip_address">User IP</option>
                <option value="s.id">Session ID</option>
                <option value="">Configuration ID</option>
                <option value="a.event_type">Event Type</option>
                <option value="a.category">Category</option>
                <option value="a.label">Label</option>
            </select>

            <select name="condition[]" id="condition_0">
                <option value="=">Equals</option>
                <option value="like">Contains</option>
                <option value="<">Is less than</option>
                <option value="<=">Is less than or equal to</option>
                <option value=">">Is greater than</option>
                <option value=">=">Is greater than or equal to</option>            
            </select>
  
            <input type="text" name="value[]" id="value_0" placeholder="Value" />

            <select id="operator_0" name="operator[]">
                <option>And</option>
                <option>Or</option>
            </select>

            <button>Add filter</button>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Generate" />
        </div>
    </form> 

{% endblock %}

