<html>
<head>
    <title>'Error'</title>
</head>
<body>

    <p>An error occurred. Here are the details</p>

    <pre>{{error}}</pre>

    <pre>{{dump(Machine)}}</pre>

    <pre>{{dump(Transaction)}}</pre>

</body>
</html>
