<div class="entry-bar-container">
    <div class="entry-bar">
        <input type="text" class="text-entry {% if noicon is not defined or noicon == false %}with-icon{% endif %}" id="entry_bar" />
        <span class="glyphicon glyphicon-remove animation-button"></span>
    </div>
</div>
