<div class="modal fade" tabindex="-1" role="dialog" id="main_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
