<div class="pricebar-container">
    <div class="pricebar {% if back is not empty %}with-nav{% endif %}">

        {% if back is not empty %}
           <a href="{{back}}" id="back_button"><img src="/dist/img/left_arrow_pricing.png" class="animation-button"></a>
        {% endif %}

        {% if pricing is not empty %}
            {% for price in pricing %}
                <div class="total-cell">
                   <h3>&euro; {% if price.denomination > 2 %}{{price.quantity * price.denomination}}{% else %}{{price.quantity * 2}}{% endif %}</h3>
                   <img src="/dist/img/photo-price-icon.png"> <span>x{% if price.denomination >  2 %}{{price.denomination}}{% else %}2{% endif %}</span>
                </div>        
            {% endfor %}
        {% endif %}

    </div>
</div>
